<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>noter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FE777442D8ED61B00A589F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE7775A2D8ED61C00A589F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE777642D8ED61C00A589F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
